{% extends 'base.html.twig' %}

{% block title %}Mentions légales - {{ parent() }}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/main/card.css') }}">{% endblock %}


{% block body %}

<h1 class="text-center fs-3 mt-4">Mentions légales</h1>
<div class="container">
    <div class="row">
        <div class="d-flex flex-column align-item-center my-2">
            <h2 class="fs-5">
                Sous titre
            </h2>
            <p>Texte</p>
        </div>
    </div>
</div>

{% endblock %}