{% extends 'base.html.twig' %}

{% block title %}Email envoyé{% endblock %}

{% block body %}
    <h1 class="h3 my-3 font-weight-normal">Email envoyé</h1>
    <div class="form">
        <div class="form-box">
            <div class="form-row">
                Si un compte existe avec cette adresse email, vous recevrez un email contenant un lien pour réinitaliser un nouveau mot de passe. Ce lien expirera dans 1 heure.
            </div>
            <div class="form-row">
                Si vous ne voyez pas d'email dans votre boite de réception, veuillez consulter votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">retentez l'opération.</a>
            </div>
        </div>
    </div>
{% endblock %}
