{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Trouver une colocation, un colocataire facilement et gratuitement{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/main/card.css') }}">{% endblock %}
{% block body %}
<h1>Trouvez votre colocation en 1 clic</h1>
<main class="container">
    <div class="row mb-4">
        <div class="col sub-header">
            <h2 class="mb-0">Nouveau logements</h2>
            <a href="">Voir plus<ion-icon name="chevron-forward-outline"></ion-icon></a>
        </div>
    </div>
    

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-flat-top">
                    <span class="freeplace">1 place</span>
                    <span class="rent">399€</span>
                    <img src="https://via.placeholder.com/600x300" class="" alt="...">
                </div>
            <div class="card-flat-info">
                <div>
                    <h3 class="card-flat-title">Appartement</h3>
                    <span class="card-flat-subtitle">Villeneuve d'Ascq</span>
                </div>
                <div>
                    <span class="flat-surface">65m2</span>
                    <span class="flat-place">3pers</span>
                </div>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-flat-top">
                    <span class="freeplace">1 place</span>
                    <span class="rent">399€</span>
                    <img src="https://via.placeholder.com/600x300" class="" alt="...">
                </div>
            <div class="card-flat-info">
                <div>
                    <h3 class="card-flat-title">Appartement</h3>
                    <span class="card-flat-subtitle">Villeneuve d'Ascq</span>
                </div>
                <div>
                    <span class="flat-surface">65m2</span>
                    <span class="flat-place">3pers</span>
                </div>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-flat-top">
                    <span class="freeplace">1 place</span>
                    <span class="rent">399€</span>
                    <img src="https://via.placeholder.com/600x300" class="" alt="...">
                </div>
            <div class="card-flat-info">
                <div>
                    <h3 class="card-flat-title">Appartement</h3>
                    <span class="card-flat-subtitle">Villeneuve d'Ascq</span>
                </div>
                <div>
                    <span class="flat-surface">65m2</span>
                    <span class="flat-place">3pers</span>
                </div>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-flat-top">
                    <span class="freeplace">1 place</span>
                    <span class="rent">399€</span>
                    <img src="https://via.placeholder.com/600x300" class="" alt="...">
                </div>
            <div class="card-flat-info">
                <div>
                    <h3 class="card-flat-title">Appartement</h3>
                    <span class="card-flat-subtitle">Villeneuve d'Ascq</span>
                </div>
                <div>
                    <span class="flat-surface">65m2</span>
                    <span class="flat-place">3pers</span>
                </div>
            </div>
            </div>
        </div>
    </div>
    


</main>
{% endblock %}
