.carousel {
    width: 800px;
}

.carousel-item {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sub-title {
    display: flex;
    justify-content: space-between;
}

.sub-title span{
    font-size: 1.5rem;
}
.sub-title span i{
    color: var(--color-primary);
}

.badgeounnet{
    display: flex;
    border: solid;
    border-color: #ffc107;
    color: white;
    border-radius: 15px;
    width: 170px;
    height: 20px;
    padding: 25px;
    text-align: center;
    align-content: space-around;
    align-items: center;
}
@media (max-width: 650px) {
    .badge-price{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
}

.hidden{
    display: none;
}

.test{
    width: auto!important;
}