{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Trouver une colocation, un colocataire facilement et gratuitement{% endblock %}
{% block body %}
<div class="d-flex justify-content-center">
    <img src="https://via.placeholder.com/800x500" class="" alt="...">
</div>

<br>

<h1>Maison - 120m² - 12Pers</h1>
<p>Proposé par Josie</p>

<br>

<div class="d-flex justify-content-between">
    <h2>
        <ion-icon name="location-outline"></ion-icon> Roubaix
    </h2>
    <p class="badge bg-warning w-25 p-3 fs-3">
        420€/pers
    </p>
</div>

<div>
    <p class="badge bg-danger rounded-pill p-2 fs-5">
        Non meublé
    </p>
    <p class="badge bg-danger rounded-pill p-2 fs-5">
        Lgbtqi+ Friendly
    </p>
</div>

<br>
<br>

<div>
    <span>
        2 places disponibles
    </span>
</div>

<br>

<div class="d-flex">
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius necessitatibus quae, dolorum ipsam at unde incidunt eaque dolores excepturi qui optio illo nulla ex praesentium asperiores? Adipisci corporis dolorum ea!
    </p>
</div>

<div class="d-flex justify-content-center">
    <p class="btn btn-outline-danger border border-dark rounded-pill p-2">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        Contacter Josie
        <ion-icon name="chevron-forward-outline"></ion-icon>
    </p>
</div>

{% endblock %}