form.form-box{
    max-width: 450px;
    margin: 60px auto;
}

form .form-row{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

form .form-row > div{
    flex: 1;
}

form label{
    font-size: 1.2rem;
}

form input:not([type="checkbox"]), form textarea, form select{
    box-sizing: border-box;
    padding: 5px;
    font-size: 1.2rem;
    width: 100%;
}

a{
    text-decoration: none;
    color: #FCA311;
}

h1{
    display: flex;
    justify-content: center;
}

.register{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


.form-end{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.form-password{
    position : relative;
}

.show-password{
    position: absolute;
    right: 10px;
    bottom: 0.6rem;
}

.btn-outline{
        border: 1px solid var(--color-secondary);
        color: var(--color-dark);
        background-color: white;
        border-radius: 30px;
        padding: 0.5rem 3rem 0.5rem 3rem;
        width: 200px;
}