<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ path('main_index') }}"><img src="https://coolokbucket.s3.eu-west-3.amazonaws.com/images/logo_coolok.png" style="height:30px;" alt="Logo Coolok"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('main_index') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Coolokation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mes favoris</a>
                </li>
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_profil') }}">Mon compte</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_login') }}">Connexion</a>
                </li>
                {% endif %}
                </ul>
                <form class="d-flex">
                <input class="form-search me-2" type="search" placeholder="Votre recherche..." aria-label="Search">
                <button class="btn-search" type="submit">Rechercher</button>
                </form>
            </div>
            </div>
        </nav>
</header>