.header-section{
    display: flex;
    justify-content: space-between;
}

.header-section a{
    color: var(--color-dark);
}

.link-card:hover{
    text-decoration: none;
}

.card:hover{
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.card-flat-top{
    position: relative;
}

.card-flat-top span, strong{
    position: absolute;
    color: white;
    padding: 0 10px 0 10px;
    border-radius: 15px;
}

.card-flat-top span:first-child{
    top: 10px;
    right: 10px;
    background-color: var(--color-primary);
}

.card-flat-top strong{
    left: 10px;
    bottom: 10px;
    background-color: var(--color-secondary);
    font-size: 1.1rem;
    font-weight: 400;
}

.card-flat-top img{
    width: 100%;
}
.card-flat-info{
    display: flex;
    justify-content: space-around;
    margin: 0.5rem 0 0.5rem 0;
    padding-left: 5px;
}

.card-flat-title{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-dark);
    margin-bottom: 0;
}

.card-flat-subtitle{
    font-size: 0.9rem;
}

.card-flat-info div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-left: 1px solid var(--color-clear);
    padding-left : 5px;
    font-size: 0.9rem;
    color: var(--color-clear);
}
.user-card{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card-user-top{
    width: 100px;
    height: 100px;
}

.card-user-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.card-user-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem 0 0.5rem 0;
    padding-left: 5px;
}

.card-user-title{
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-dark);
    margin-bottom: 0;
}

.card-user-info div:last-child{
    display: flex;
    justify-content: space-between;
}

.card-user-subtitle{
    font-size: 0.8rem;
}

.user-age{
    font-size: 0.7rem;
    color: var(--color-clear);
    align-self: flex-end;
    margin-left: 10px;
}

.card-city-top img{
    width: 100%;
    border-radius: 50%;
}

.card-city-name{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 5px;
}

.card-city-length{
    text-align: center;
    font-size: 0.8rem;
}

.btn-see-more{
    border-radius: 20px;
    border: 1px solid var(--color-dark);
    color: var(--color-secondary);
    background-color: white;
    margin: 0.5rem 1rem 1rem 1rem;
    padding: 0.4rem 0;
    width: 150px;
    height: 35px;
    font-size: 0.8rem;
    align-self: center;
}