{% extends 'base.html.twig' %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user/form.css') }}">
{% endblock %}

{% block body %}
<h1>Inscription</h1>
<form method="post" class="form-box">

    <div class="form-row">
        <div>
            <label for="emailInput"></label>
            <input type="email" name="_email" id="emailInput" placeholder="Adresse email">
        </div>
    </div>
    <div class="form-row">
        <div>
            <label for="passwordInput"></label>
            <input type="password" name="_password" id="passwordInput" placeholder="Mot de passe">
        </div>
    </div>
    <div class="form-end">
        <button type="button" class="btn btn-outline-warning">M'inscrire</button>
    </div>
</form>

{% endblock %}